html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:focus {
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 4px solid #666;
  padding-left: 1rem;
}

/* nav styles */
.nav-links {
  display: flex;
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #666;
  text-decoration: underline;
}

.home-posts-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 1rem; */
}

@media (min-width: 768px) {
  .home-posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}